/* *{
    outline: 1px solid red;
} */

.center-me {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 11em;
}

.icon-pos {
    display: flex;
    justify-content: center;
}

.rock, .paper {
    transform: rotate(45deg);
}

.winner-pos {
    display: flex;
    justify-content: center;
}

.winner {
    font-size: 2em;
    visibility: hidden;
}

.score-pos {
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    padding-left: 2em;
}

.col-sm-4 {
    z-index: 1;
}

/* .rocky:hover::after {
    content: "rock";
    color: white;
    position: relative;
    bottom: 3em;
    left: 6em;
    font-size: 2em;
    z-index: 2;
}

.papery:hover::after {
    content: "paper";
    color: white;
    position: relative;
    bottom: 3.2em;
    left: 4.7em;
    font-size: 2em;
    z-index: 2;
}

.scissory:hover::after {
    content: "scissors";
    color: white;
    position: relative;
    bottom: 3.5em;
    left: 6em;
    font-size: 2em;
    z-index: 2;
} */






/* mobile */
@media(max-width: 1125px){

/* .center-me {
    flex-flow: wrap column;
    align-items: flex-end;
} */

.icon {
    font-size: 8em;
}
}
